{% extends "base.html" %}

{% load static %}

{% block title %}
    Список товаров
{% endblock %}

{% block content %}
    {% for category in categories %}
        <section style="background-color: #eee;">

            <div class="container py-5">
                <div class="row">
                    {% for item in items %}
                        {% if item.category.id  == category.id %}
                            <h2 align="center" class="p-5">{{ category.name }}</h2>
                            {% include 'includes/item_card.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}